@use './mixins' as *;

.hero__bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgb(0, 0, 0, 0.35)),
    url('../images/Solar-Panels-Cottage.jpeg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 45%;
    width: 100%;
    height: 60vh;
    height: 60svh;
    backdrop-filter: blur(2px);
    background-color: rgba($color: #fff, $alpha: 0.3);
    @include bigger-than(md) {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 25vh;
      height: 25svh;
      backdrop-filter: blur(10px);
      background-color: rgba($color: #fff, $alpha: 0.25);
      z-index: 1;
      width: 50%;
      height: 100vh;
      height: 100svh;
    }
  }
}
