@use './mixins' as *;

// .hero__bg {
//   background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgb(0, 0, 0, 0.25)),
//     url('../images/Solar-Panels-Cottage.jpeg');
//   background-position: center;
//   background-size: cover;
//   overflow: hidden;
//   height: 100vh;
//   position: relative;
// }

.hero__img {
  margin-top: 2.5rem;
  max-width: 250px;
  height: auto;
  img {
    width: 100%;
  }
}

.mouse {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 30px;
  border: 2px solid rgb(0, 0, 0);
  bottom: 3%;
  border-radius: 1rem;
  > a {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}
.mouse-circle {
  position: absolute;
  bottom: 5%;
  left: 50%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  animation: mouseScroll 2s infinite;
  pointer-events: none;
}
@keyframes mouseScroll {
  from {
    transform: translate(-50%, -25px);
    opacity: 1;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 0;
  }
}

@include bigger-than(md) {
  .mouse {
    display: flex;
  }
}
