@use "./variables" as *;

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
) !default;

@mixin bigger-than($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin cc() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin dark() {
  nav {
    transition: all 0.5s ease-in-out;
    background-color: rgb(150, 150, 150) !important;
  }
  a,
  p,
  li,
  h1,
  h2,
  h3 {
    transition: all 0.5s ease-in-out;
    color: rgb(220, 220, 220);
  }
  #hero {
    transition: all 0.5s ease-in-out;
    background-color: $dark-bg;
  }
  #about {
    transition: all 0.5s ease-in-out;
    background-color: $dark-bg--lighter;
  }
  #services {
    transition: all 0.5s ease-in-out;
    background-color: $dark-bg;
  }
  #gallery {
    transition: all 0.5s ease-in-out;
    background-color: $dark-bg;
  }
  #footer {
    transition: all 0.5s ease-in-out;
    background-color: $dark-bg--lighter !important;
  }
}
