@use './variables' as *;

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
) !default;

@mixin bigger-than($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin gallery-cc() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -49.5%);
}

@mixin dark() {
  body {
    background-color: rgba(122, 122, 122, 0.3);
  }
  nav {
    background-color: rgba(122, 122, 122, 0.9);
  }
  a,
  p,
  li,
  h1,
  h2,
  h3 {
    color: rgb(220, 220, 220);
  }
  #hero {
    background-color: $dark-bg;
  }
  #about {
    background-color: $dark-bg--lighter;
  }
  #services {
    background-color: $dark-bg--lighter;
  }
  #gallery {
    background-color: $dark-bg;
  }
  #footer {
    background-color: $dark-bg--lighter !important;
  }
  .footer__icons > a:hover > i {
    color: rgb(33, 37, 41);
  }
  .header__logo > a {
    color: rgb(254, 254, 254);
    &:hover {
      color: rgb(254, 254, 254);
    }
  }
}
