nav {
  background-color: rgb(150, 150, 150);
  box-shadow: 0 5px 20px rgb(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.header__logo > a {
  text-decoration: none;
  color: rgb(33, 37, 41);
}
