@use "./mixins" as *;
$navbarHeight: 80px;

.section-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: $navbarHeight;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px -1px 33px rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.section-hero {
  background-color: grey;
  height: calc(100vh - $navbarHeight); //backup value if svh is not supported
  height: calc(100svh - $navbarHeight);
  padding: 4rem 0;
}

.section-about {
  margin: 8rem 0;
}

.section-services {
  margin: 8rem 0;
}

@include bigger-than(md) {
  .section-hero {
    padding: 10rem 0;
  }
}
