@use "./mixins" as *;
@use "./variables" as *;

section {
  padding: 4rem 0;
}

.section-navbar .section-navbar {
  background-color: rgb(16, 24, 32);
  box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.section-hero {
  padding-top: 8rem;
  background-color: rgb(175, 175, 175);
  height: 100vh; //backup value if svh is not supported
  height: 100svh;
}

.section-about {
  background-color: rgb(255, 255, 255);
}

.section-services {
  padding: 0 0 4rem 0;
}

.section-gallery {
  background-color: #7d7d7d;
  padding: 4rem 0 0 0;
}

@include bigger-than(md) {
  .section-hero {
    padding: 10rem 0;
  }
}
