@use "./variables" as *;

.underline-decoration {
  position: relative;
  margin-bottom: 30px;
  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 60px;
    height: 2px;
    background-color: $secondaryColor;
  }
}
.underline-decoration--center {
  &::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

p,
a {
  font-size: clamp(0.9rem, 2.5vw, 1rem);
}

h1 {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
}
h2 {
  font-size: clamp(1.4rem, 2.5vw, 1.8rem);
}
h3 {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}
