li {
  list-style: none;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth;
}

.underline-decoration {
  position: relative;
  margin-bottom: 30px;
}
.underline-decoration::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 60px;
  height: 2px;
  background-color: #f4cb08;
}

.underline-decoration--center::after {
  left: 50%;
  transform: translateX(-50%);
}

p,
a {
  font-size: clamp(0.9rem, 2.5vw, 1rem);
}

h1 {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
}

h2 {
  font-size: clamp(1.4rem, 2.5vw, 1.8rem);
}

h3 {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

html[data-theme=dark] body {
  background-color: rgba(122, 122, 122, 0.3);
}
html[data-theme=dark] nav {
  background-color: rgba(122, 122, 122, 0.9);
}
html[data-theme=dark] a,
html[data-theme=dark] p,
html[data-theme=dark] li,
html[data-theme=dark] h1,
html[data-theme=dark] h2,
html[data-theme=dark] h3 {
  color: rgb(220, 220, 220);
}
html[data-theme=dark] #hero {
  background-color: rgb(102, 102, 102);
}
html[data-theme=dark] #about {
  background-color: rgb(122, 122, 122);
}
html[data-theme=dark] #services {
  background-color: rgb(122, 122, 122);
}
html[data-theme=dark] #gallery {
  background-color: rgb(102, 102, 102);
}
html[data-theme=dark] #footer {
  background-color: rgb(122, 122, 122) !important;
}
html[data-theme=dark] .footer__icons > a:hover > i {
  color: rgb(33, 37, 41);
}
html[data-theme=dark] .header__logo > a {
  color: rgb(254, 254, 254);
}
html[data-theme=dark] .header__logo > a:hover {
  color: rgb(254, 254, 254);
}

.switch_box {
  display: flex;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.toggle_switch {
  width: 60px;
  height: 30px;
  position: relative;
}

.section-gallery {
  background-color: #7d7d7d;
}

input[type=checkbox].switch_3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}

svg.checkbox .outer-ring {
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  animation: resetRing 0.35s ease-in-out forwards;
}

input[type=checkbox].switch_3:checked + svg.checkbox .outer-ring {
  animation: animateRing 0.35s ease-in-out forwards;
}

input[type=checkbox].switch_3:checked + svg.checkbox .is_checked {
  opacity: 1;
  transform: translateX(0) rotate(0deg);
}

input[type=checkbox].switch_3:checked + svg.checkbox .is_unchecked {
  opacity: 0;
  transform: translateX(-200%) rotate(180deg);
}

svg.checkbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg.checkbox .is_checked {
  opacity: 0;
  fill: rgb(255, 193, 47);
  transform-origin: 50% 50%;
  transform: translateX(200%) rotate(45deg);
  transition: all 0.35s;
}

svg.checkbox .is_unchecked {
  opacity: 1;
  fill: #151515;
  transform-origin: 50% 50%;
  transform: translateX(0) rotate(0deg);
  transition: all 0.35s;
}
@keyframes animateRing {
  to {
    stroke-dashoffset: 0;
    stroke: #b0aa28;
  }
}
@keyframes resetRing {
  to {
    stroke-dashoffset: 0;
    stroke: #233043;
  }
}
nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.nav-link {
  color: rgb(33, 37, 41);
}

.header__logo > a {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

#hero {
  color: rgb(33, 37, 41);
}

section {
  padding: 4rem 0;
}

.section-navbar .section-navbar {
  background-color: rgb(16, 24, 32);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.section-hero {
  padding-top: 8rem;
  height: 100vh;
  height: 100svh;
}

.section-about {
  background-color: rgb(255, 255, 255);
}

.section-services {
  padding: 0 0 4rem 0;
}

.section-gallery {
  background-color: #ced4da;
  padding: 4rem 0 0 0;
}

.section-footer {
  position: relative;
}

@media (min-width: 768px) {
  .section-hero {
    padding: 10rem 0;
  }
}
.hero__bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.35)), url("../images/Solar-Panels-Cottage.jpeg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.hero__bg::before {
  content: "";
  position: absolute;
  top: 45%;
  width: 100%;
  height: 60vh;
  height: 60svh;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .hero__bg::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 25vh;
    height: 25svh;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 1;
    width: 50%;
    height: 100vh;
    height: 100svh;
  }
}

.services__wrapper {
  padding: 3rem 1rem;
}

.services__solar-img-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/solar_bg_01.webp");
  background-position: center;
  background-size: cover;
  height: 200px;
}

.services__solar-img-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/solar_bg_02.webp");
  background-position: top;
  background-size: cover;
  height: 200px;
}

.services__solar-img-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/solar_bg_03.jpeg");
  background-position: center;
  background-size: cover;
  height: 200px;
}

.gallery {
  max-width: 1300px;
  margin: 70px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__item {
  width: 300px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.gallery__item img {
  width: 100%;
  height: auto;
}

.gallery__modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.gallery__modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.gallery-close {
  color: #f1f1f1;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.gallery-close:hover, .gallery-close:focus-within {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.gallery__item__shift {
  -o-object-position: 0 -70px;
     object-position: 0 -70px;
  transform: translate3d(0, 0, 1px);
}

.line {
  display: inline-block;
  padding: 1rem 0;
  width: 100%;
  border-top: 1px solid rgb(87, 87, 87);
}

.footer__icons > a > i {
  transition: color 0.3s ease-in-out;
}

.footer__icons > a:hover > i {
  color: #1944bb;
}

.cc_banner-wrapper {
  z-index: 9001;
  position: relative;
}

.cc_container .cc_btn {
  cursor: pointer;
  text-align: center;
  font-size: 0.8em;
  transition: font-size 200ms;
  line-height: 1rem;
  border-radius: 5rem;
}

.cc_container .cc_message {
  font-size: 0.8em;
  transition: font-size 200ms;
  margin: 0;
  padding-bottom: 0.5rem;
  line-height: 1.5em;
  color: #000;
  text-align: center;
}

.cc_container .cc_logo {
  display: none;
}

.cc_container .cc_logo:hover,
.cc_container .cc_logo:active {
  opacity: 1;
}

@media screen and (min-width: 500px) {
  .cc_container .cc_btn {
    font-size: 0.8em;
  }
  .cc_container .cc_message {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 768px) {
  .cc_container .cc_btn {
    font-size: 1rem;
  }
  .cc_container .cc_message {
    font-size: 1rem;
    line-height: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .cc_container .cc_message {
    font-size: 1rem;
  }
}
@media print {
  .cc_banner-wrapper,
  .cc_container {
    display: none;
  }
}
.cc_container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 15px 15px 40px;
}

.cc_container .cc_btn {
  padding: 8px 16px;
  background-color: #ffc107;
  position: absolute;
  bottom: 10px;
  right: 15px;
  left: 15px;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .cc_container {
    right: 20px;
    left: initial;
    width: 300px;
    padding-bottom: 77px;
    border-radius: 1rem 1rem 0 0;
  }
  .cc_container .cc_btn {
    right: 15px;
    bottom: 26px;
  }
}
@media screen and (min-width: 768px) {
  .cc_container .cc_message {
    font-size: 1rem;
  }
}
.cc_container {
  background: #fff;
  color: #999;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.cc_container .cc_btn,
.cc_container .cc_btn:visited {
  color: #000;
  background-color: #ffc107;
  transition: background 200ms ease-in-out, color 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.cc_container .cc_btn:hover,
.cc_container .cc_btn:active {
  background-color: #ffd454;
  color: #000;
}

.cc_container a,
.cc_container a:visited {
  text-decoration: none;
  color: #ffc107;
  transition: 200ms color;
}

.cc_container a:hover,
.cc_container a:active {
  color: #ffd454;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.cc_container {
  animation: fadeInTop 0.6s both;
}

::-moz-selection {
  background: #f4cb08;
  color: #000;
}

::selection {
  background: #f4cb08;
  color: #000;
}

.hidden {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.shown {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

a,
p,
li,
h1,
h2,
h3,
h4,
#hero,
#about,
#services,
#gallery,
#footer {
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=main.css.map */