@forward './reset';
@forward './mixins';
@forward './typography';
@forward './dark';
@use './variables' as *;
@forward './navbar';
@forward './btn';
@forward './sections';
@forward './hero';
@forward './gallery';
@forward './services';
@forward './footer';

::selection {
  background: $secondaryColor;
  color: #000;
}

.hidden {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.shown {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
