@forward './reset';
@forward './mixins';
@forward './typography';
@forward './dark';
@use './variables' as *;
@forward './navbar';
@forward './btn';
@forward './sections';
@forward './hero';
@forward './services';
@forward './gallery';
@forward './footer';
@forward './cookies';

::selection {
  background: $secondaryColor;
  color: #000;
}

.hidden {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.shown {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

a,
p,
li,
h1,
h2,
h3,
h4,
#hero,
#about,
#services,
#gallery,
#footer {
  transition: all 0.3s ease-in-out;
}
